<section class="app-page-header">
    <div class="app-page-header__title">
        <div class="app-container">
            {{#if class}}
                <div class="{{class}}">{{title}}: <span>{{subtitle}}</span></div>
                {{ else }}
                <div class="app-ct-v1">{{title}}: <span>{{subtitle}}</span></div>
            {{/if}}
        </div>
    </div>
    <div class="app-page-header__content">
        <div class="app-container">
            {{#if class}}
                <div class="{{class}}">
                    {{> @partial-block}}
                </div>
            {{ else }}
                <div class="app-ct-v1">
                    {{> @partial-block}}
                </div>
            {{/if}}
        </div>
    </div>
</section>